<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
  <li class="me-2">
    <a
      (click)="isActive = 'eventos'"
      routerLink="/eventos"
      routerLinkActive="active-tab"
      [ngClass]="{ 'text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500': isActive === 'eventos' }"
      class="inline-block p-4 rounded-t-lg">
      Eventos
    </a>
  </li>

  <li class="me-2">
    <a
      (click)="isActive = 'entradas'"
      routerLink="/entradas"
      routerLinkActive="active-tab"
      [ngClass]="{ 'text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500': isActive === 'entradas' }"
      class="inline-block p-4 rounded-t-lg">
      Entradas
    </a>
  </li>

  <!-- <li class="me-2">
    <a
      (click)="isActive = 'entradas'"
      routerLink="/entradas"
      routerLinkActive="active-tab"
      [ngClass]="{ 'text-blue-600 bg-gray-100 dark:bg-gray-800 dark:text-blue-500': isActive === 'entradas' }"
      class="inline-block p-4 rounded-t-lg">
      Ventas
    </a>
  </li> -->
</ul>
